<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
  <link rel="stylesheet" href="../assets/styles/custom-style.css">
  <title>Document</title>
</head>
    <body>

     {{> header}}

     {{> navbar}}

     <div class="form">
        <div class="form-container">
          <h2>Edit Project</h2>
          <form name="form-project" method="post" action="/edit-project/{{project.id}}">
            <div class="form-group">
              <label>Project Name</label>
              <input name="title" type="text" placeholder="Enter project name" value="{{project.title}}" required>
            </div>
            <div class="form-group-inline">
              <div class="form-group">
                <label>Start Date</label>
                <input name="startDate" type="date" required>
                </div>
                <div class="form-group">
                <label>End Date</label>
                <input name="endDate" type="date" required>
            </div>
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea name="description" rows="4" placeholder="Enter project description" required>{{project.description}}</textarea>
            </div>
            <div class="form-group">
              <label>Technologies</label>
              <div class="checkbox-group">
                <label><input type="checkbox" name="checkbox" value="Node.js"> Node Js</label>
                <label><input type="checkbox" name="checkbox" value="Next.js"> Next Js</label>
                <label><input type="checkbox" name="checkbox" value="React.js"> React Js</label>
                <label><input type="checkbox" name="checkbox" value="TypeScript"> TypeScript</label>
              </div>
            </div>
            <div class="form-group">
              <label>
              <p>Upload Image</p>
              </label>
              <div class="upload-button">
              <input name="uploadImage" type="file" accept="image/*" required>
                </div>
            </div>
            <button type="submit" name="submit-button" class="submit-button" >Confirm</button>
            </form>
          </div>
        </div>


     {{> footer}}


    </body>
<script src="/assets/scripts/utils/script.js"></script>
<script src="/assets/scripts/utils/navbar.js"></script>
</html>