<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
  <link rel="stylesheet" href="../assets/styles/custom-style.css">
  <title>Document</title>
</head>
	<body>

		{{> header}}

		{{> navbar}}

		<main>
		<div class="container">
		<div class="self">
			<p class="self-description">I am a skilled fullstack developer with expertise in developing web applications from frontend to backend. With proficiency in various technologies, I focus on creating efficient and scalable solutions.</p>
		</div>
		<div class="project">
			<h1 class="main-title">My Projects</h1>
			<div class="project-cards-container">
				{{#each projects}}
			</div>
			</div>
		<div class="space"></div>
		</div>
		</main>

		{{> footer}}
		
	</body>
<script src="/assets/script/script.js"></script>
<script src="/assets/script/home.js"></script>
<script src="/assets/script/navbar.js"></script>
</html>