<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
  <link rel="stylesheet" href="../assets/styles/custom-style.css">
  <title>Document</title>
</head>
<body>

  <header id="header">
    <div class="bacground-header"></div>
    <div class="profile-header">
      <img src="../assets/images/headshots.jpg" alt="">
      <h2>Ahmad Safi'i</h2>
      <p>Web Developer</p>
    </div>
  </header>

  <nav id="navigation-bar">
  <ul class="navigation">
    <li><a href="index.html">HOME</a></li>
    <li><a href="contact.html">CONTACT</a></li>
    <li><a href="projects.html">PROJECTS</a></li>
  </ul>
  </nav>

  <main>
    <div class="project">
      <h4>3 bulan</p>
      <h2>Dumbways Mobile App</h2>
      <img src="/assets/project1.jpg" alt="dumbways">
      <p>App that used for dumbways student, it was deployed and can downloaded on playstore. Happy download Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste ipsa aperiam rerum qui laborum, perspiciatis laudantium vero consequuntur, necessitatibus dolores iure culpa hic nulla earum tenetur eos cum quis non expedita amet delectus vitae distinctio! Quae cum harum expedita possimus rem quod perferendis autem molestias. Velit magnam quas ex mollitia eos nisi incidunt voluptas, quos tempore est dignissimos, cum iusto doloremque? Quo aut vel suscipit, alias, cumque ratione, minus accusamus dolorem eveniet iste atque. Eos eius perferendis velit dignissimos laborum dolorem. Minus voluptatem sapiente exercitationem quaerat inventore nulla consequuntur quibusdam recusandae illo quisquam molestiae voluptas vero enim sint, ea dolorum provident libero labore ratione nemo eligendi cupiditate. Recusandae eius quod libero odit qui quos eveniet itaque dolorum mollitia in quae delectus minima, totam repellat corrupti vitae labore quis adipisci maiores facere incidunt accusantium. Vero minus perspiciatis commodi recusandae quaerat. Mollitia, quia. Quidem adipisci excepturi molestias doloribus nam ipsa, voluptatum distinctio voluptatem nemo minima sint. Porro libero veritatis error eligendi unde neque quia ducimus? Est mollitia ex modi eum veritatis autem repudiandae. Iusto perspiciatis eos, reprehenderit, consectetur aut ea alias, quidem aperiam rem debitis repellat iste tenetur corporis maiores voluptate accusantium ipsum neque veniam corrupti impedit. Mollitia officia exercitationem quidem voluptatum!</p>
    </div>
  </main>

	{{> footer}}
	 
</body>
<script src="/assets/script/script.js"></script>
<script src="/assets/script/projects-post.js"></script>
</html>