<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
  <link rel="stylesheet" href="../assets/styles/custom-style.css">
  <title>Document</title>
</head>
<body>

		{{> header}}

		{{> navbar}}

		<main>
		<div class="container">
      <h1 class="page-title">MY TESTIMONY</h1>
			<div class="rating-filter">
        <h2>Filter by Star Rating</h2>
        <div class="rating-buttons">
						<button data-rating="all">Show All</button>
            <button data-rating="1">⭐</button>
            <button data-rating="2">⭐⭐</button>
            <button data-rating="3">⭐⭐⭐</button>
            <button data-rating="4">⭐⭐⭐⭐</button>
            <button data-rating="5">⭐⭐⭐⭐⭐</button>
        </div>
    </div>
      <div class="testimonial-container">
      </div>
		<div class="another"></div>
		</div>
		</main>

		{{> footer}}
    
</body>
<script src="/assets/script/testimonial.js"></script>
<script src="/assets/script/navbar.js"></script>

</html>