*{
  margin: 0;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
}
:root {
  --main-text-color: rgb(58, 58, 58);
  --secondary-text-color: rgb(92, 92, 92);
  --hover-text-color: rgb(165, 52, 52);
}
main {
  margin: auto;
  max-width: 65%;
}




/* CUSTOM HEADER */
.main-title {
  padding-top: 50px;
  text-align: center;

}

.page-title {
  padding: 60px;
  text-align: center;
}
.bacground-header{
  background-image: url(../images/background.jpg);
  height: 55vh;
  background-position: 0 -320px;
  filter: grayscale(1) opacity(.2);
  width: 100%;
}
.profile-header{
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  box-sizing: border-box;
}
.profile-header img{
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.1);
  border-radius: 150px;
  width: 150px;
}
.profile-header h2 {
  color: var(--main-text-color);
  letter-spacing: 3px;
  padding-top: 20px;
  font-size: 50px;
}
.profile-header p{
  font-size: 20px;
  font-weight: 100;
}




nav{
  text-align: center;
  padding: 1em;
  border: 1px solid rgba(92, 92, 92,.4);
  border-left: 0;
  border-right: 0;

}
nav h2{
  padding-bottom: 20px;
}

.navigation{
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10%;
}
.navigation a{
  font-weight: 100;
  font-size: 1em;
  text-decoration: none;
  color: var(--main-text-color);
  transition: 500ms;
}
.navigation a:hover{
  letter-spacing: 5px;
  color: var(--hover-text-color);
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-color: white;
}
.sticky + main {
  padding-top: 60px;
}
.nav-arrow {
  margin: auto;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  display: none;
  transition: all 500ms;
}
.nav-arrow svg {
  height: 30px;
  width: 30px;
}


/* MAIN CONTENT */


/* HOME */
main:hover .tech-icons {
  opacity: .7;
  gap: 25px;
}
.self > h3 {
  padding-top: 80px;
  text-align: center;
}
.self-description{
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 100;
  padding-top: 80px;
  padding-bottom: 25px;
  text-align: center;
  color: var(--secondary-text-color);
}
.self-social{
  padding-top: 10px;
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: center;
}
.tech-icons {
  opacity: 0;
  justify-content: center;
  display: flex;
  gap: 0px;
  padding: 20px;
  transition: ease 1.5s;
}
.tech-stack{
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.icon--sm--tech{
  height: 30px;
  width: 30px;
}
.description-icon{
  height: 30px;
  width: 30px;
}
.grayscale-icon{
  filter: grayscale(100%);
}



/* CONTACT */




.contact-form {
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 30%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 40px;
}

.contact-form h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  text-align: center;
}

.contact-form .form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="number"],
.contact-form input[type="subject"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
}

.contact-form textarea {
  resize: none;
  height: 100px;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #fff;
  box-sizing: border-box;
}

.contact-form button:disabled {
  background-color: #333;
}

.contact-form button:not(:disabled) {
  background-color: #000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.space {
height: 100vh;
}


/* PROJECTS */


.project {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.project-cards-container {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  justify-content: center;
}

.project-cards-container h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.project-card {
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  max-width: 280px;
  margin: 10px;
  transition: all 300ms;
}
.project-card:hover {
  transform: translateY(-20px);
}

.project-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.project-details {
  padding: 15px;
}

.project-details h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
  font-weight: bold;
}

.project-details p {
  font-weight: 100;
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   letter-spacing: 1px;
}

.project-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.project-icons img {
  width: 20px;
  height: 20px;
}

.project-buttons {
  display: flex;
  padding: 0 10px 10px 10px;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
  
}
.project-buttons svg {
  transition: all 400ms;
}

.project-buttons svg:hover {
  fill: var(--secondary-text-color);
}

.project-buttons .edit-button,
.project-buttons .delete-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}


.form {
  padding: 50px;
  background-color: #f4f4f4;
}
.form-container {
  margin: auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 50%;
  margin-top: 50px;
  padding-bottom: 100px;
}

.form-container h2 {
  text-align: center;
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-group-inline {
  display: flex;
  justify-content: space-between;
}

.form-group-inline .form-group {
  width: 48%;
}

.checkbox-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #000;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px;
}

.upload-button {
  display: flex;
  align-items: center;
}

.upload-button input[type="file"] {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.submit-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 0;
  width: 100%;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #333;
}
.project-image {
  border-radius: 5%;
  max-width: 50%;
  height: auto;
}


/* DETAIL PROJECT */
.detail-project {
  padding: 100px;
  text-align: center;
}
.detail-project img {
  border-radius: 50px;
  padding: 20px;
  width: 600px;
  height: 100%;
}
.detail-project h4 {
  padding: 10px;
}
.detail-project p {
  padding: 5px;
  letter-spacing: 1px;
  font-weight: 100;
  color: black;
}
.detail-project h5 {
  font-weight: 100;
}


/* TESTIMONIALS */



.rating-buttons button.active {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.rating-filter {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  padding-bottom: 50px;
}

.rating-filter h2 {
  margin-bottom: 20px;
  font-size: 1em;
  color: #333;
}

.rating-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.rating-buttons button {
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.rating-buttons button:hover {
  background-color: #333;
  color: #fff;
}
.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.testimonial-card {
  
  max-width: 25%;
  min-width: 25%;
  padding: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
.testimonial-card__image {
  overflow: hidden;
  width: 90px;
  height: 90px;
  border-radius: 75px;
  margin: auto;
  box-sizing: border-box;

}
.testimonial-card__image img {
  width: 100%;
}
.testimonial-card__ratings {
  padding-top: 30px;
  padding-bottom: 10px;
}
.testimonial-card__description {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 6;
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}
.testimonial-card__customer-name {
  padding-top: 20px;
}







/* FOOTER */






.icon--sm {
  fill: rgb(211, 211, 211);
  height: 30px;
  width: 30px;
}
.icon--md {
  height: 32px;
  width: 32px
}
#first-footer {
  background: #232323;
  padding: 30px 0 0 0;
  font-size: 12px;
  color: #999;
}
#first-footer a {
  color: #ccc;
}
#first-footer a:hover {
  color: #fff;
}
#first-footer h3.widget-title {
  font-size: 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: #ccc;
  margin: 0 0 20px;
}
#second-footer {
  background: #191919;
  padding: 15px 0;
  color: #777;
  font-size: 12px;
}
#second-footer a {
  color: #aaa;
}
#second-footer a:hover {
  color: #fff;
}
#second-footer p {
  margin: 0;
}
.follow-me-icons {
  font-size: 30px;
}
.follow-me-icons i {
  float: left;
  margin: 0 10px 0 0;
}
.footer-upper {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer-section{
  padding: 0 20px;
  max-width: 250px;
  min-width : 200px;
}
.under-footer{
  display: flex;
  justify-content: center;
  gap: 50px;
}


/* LOGIN */

.auth-form {
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 30%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 40px;
}


.auth-form h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 40px;
  text-align: center;
}
.auth-form h4 {
  text-align: center;
  padding-bottom: 10px;
}
.auth-form .form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.auth-form label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.auth-form input[type="name"],
.auth-form input[type="email"],
.auth-form input[type="password"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
}

.auth-form textarea {
  resize: none;
  height: 100px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #fff;
  box-sizing: border-box;
}
.auth-form button:active {
  background-color: #828282;
}
.auth-form button:disabled {
  background-color: #333;
}

.auth-form button:not(:disabled) {
  background-color: #000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.space {
height: 100vh;
}

.auth-form p {
  text-align: center;
}
.auth-form a {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-text-color);
}

.popup {
  text-align: center;
  margin: 20px;
  left: 50%; 
  width: 400px; 
  margin-left: -200px;
  position: fixed;
  z-index: 999999;
  transition: opacity 1s ease-out, transform 1.5s ease-out;
}

.popup-hidden {
    opacity: 0;
    transform: translateY(-150px);

}





.log-button {
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #dddddd ;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 200ms;
}
.log-button svg {
  display: block;

}

.log-button:hover {
  height: 70px;
  width: 70px;
  background-color: #969696;
}
/* RESPONSIVE */




/* Mobile Devices */
@media (max-width: 480px) {
  .auth-form {
    max-width: 90%;
    padding: 30px;
  }
  .auth-form h4{
    font-size: 20px;
  }
  .auth-form p {
    font-size: 10px;
  }
  .main-title {
    font-size: 25px;
  }

  .form {
    padding: 20px;
  }
  .form-container{
    max-width: 100%;
    padding: 20px;
  }
  .rating-buttons button {
    font-size: 5px;
  }
  main {
    max-width: 90%;
  } 

  .nav-arrow {
    display: block;
  }

  .navigation{
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    display: none;
    transition: 500ms;
  }

}

@media (max-width: 767px) {
  .auth-form {
    max-width: 70%;
    padding: 30px;
  }
  nav {
    padding: 0px;
  }
  nav li {
    padding: 10px;
  }
  .active {
    gap: 0px;
  }
  main:hover .tech-icons {
    opacity: .7;
    gap: 10px;
  }
  .description-icon{
    height: 20px;
    width: 20px;  
  }
  .page-title {
    font-size: 25px;
  }
  .testimonial-card {
    max-width: none;
  }
  .testimonial-container {
    flex-direction: column;
  }
    .profile-header img{
      width: 120px;
    }
    .profile-header h2 {
      font-size: 40px;
    }
  .footer-section:nth-child(3) {
    display: block;
  }
  .footer-upper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
  }
  .under-footer {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .self-description {
    padding-top: 30px;
    font-size: 15px;
  }
  .navigation {
    font-size: 14px;
  }
  .contact-form {
    max-width: 50%;
  }
  .checkbox-group {
    flex-direction: column;
  }
  .form-group input[type="text"],
  .form-group input[type="date"],
  .form-group textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 12px;
  }
  .form-group-inline{
    flex-direction: column;
  }
  .contact-form {
    top: 90%;
    max-width: 70%;
  }

}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .auth-form {
    max-width: 70%;
    padding: 30px;
  }
  main {
    max-width: 90%;
  }

  .footer-section:nth-child(3) {
    display: none;
  }

  .self-description {
    padding-top: 30px;
    font-size: 18px;
  }
  .navigation {
    font-size: 14px;
  }
  .contact-form {
    max-width: 50%;
  }

  
}

/* Desktops and Larger Devices */
@media (min-width: 1025px) {
  .form-container {
    max-width: 35%;
  }
  .form-group input[type="text"],
  .form-group input[type="date"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
}



.active {
  display: flex;
}
.nav-arrow-active{
  transform: rotate(180deg);
  padding-top: 20px;
}