
.contact-form {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 30%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 40px;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
}

.contact-form .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="number"],
.contact-form input[type="subject"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
}

.contact-form textarea {
    resize: none;
    height: 100px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #fff;
    box-sizing: border-box;
}

.contact-form button:disabled {
    background-color: #333;
}

.contact-form button:not(:disabled) {
    background-color: #000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.space {
  height: 100vh;
}
.icon--sm {
  fill: rgb(211, 211, 211);
  height: 30px;
  width: 30px;
}
