*{
  margin: 0;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
}
:root {
  --main-text-color: rgb(58, 58, 58);
  --secondary-text-color: rgb(92, 92, 92);
  --hover-text-color: rgb(165, 52, 52);
}

.bacground-header{
  background-image: url(../assets/background.jpg);
  height: 55vh;
  background-position: 0 -320px;
  filter: grayscale(1) opacity(.2);
}
.profile-header{
  padding-top: 20px;
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.profile-header img{
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.1);
  border-radius: 150px;
  width: 150px;
  filter: grayscale(0) opacity(1);
}
.profile-header h2 {
  color: var(--main-text-color);
  letter-spacing: 3px;
  padding-top: 20px;
  font-size: 50px;
}
.profile-header p{
  font-size: 20px;
  font-weight: 100;
}
nav{
  overflow: hidden;
  text-align: center;
  padding: 1em;
  border: 1px solid rgba(92, 92, 92,.4);
  border-left: 0;
  border-right: 0;

}
nav h2{
  padding-bottom: 20px;
}

.navigation{
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10%;
}
.navigation a{
  font-weight: 100;
  font-size: 1em;
  text-decoration: none;
  color: var(--main-text-color);
  transition: 500ms;
}
.navigation a:hover{
  letter-spacing: 5px;
  color: var(--hover-text-color);
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-color: white;
}
.sticky + main {
  padding-top: 60px;
}


.project {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.project-cards-container {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  justify-content: center;
}

.project-cards-container h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.project-card {
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  max-width: 280px;
  margin: 10px;
  transition: all 300ms;
}
.project-card:hover {
  transform: translateY(-20px);
}

.project-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.project-details {
  padding: 15px;
}

.project-details h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
  font-weight: bold;
}

.project-details p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.project-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.project-icons img {
  width: 20px;
  height: 20px;
}

.project-buttons {
  display: flex;
  padding: 0 10px 10px 10px;
  justify-content: end;
  gap: 10px;
  padding-top: 20px;
  
}
.project-buttons svg {
  transition: all 400ms;
}

.project-buttons svg:hover {
  fill: var(--secondary-text-color);
}

.project-buttons .edit-button,
.project-buttons .delete-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}


.form {
  padding: 50px;
  background-color: #f4f4f4;
}
.form-container {
  margin: auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
  padding-bottom: 100px;
}

.form-container h2 {
  text-align: center;
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-group-inline {
  display: flex;
  justify-content: space-between;
}

.form-group-inline .form-group {
  width: 48%;
}

.checkbox-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #000;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px;
}

.upload-button {
  display: flex;
  align-items: center;
}

.upload-button input[type="file"] {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.submit-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 0;
  width: 100%;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #333;
}
.icon--sm {
  height: 30px;
  width: 30px;
}

.icon--md {
  height: 32px;
  width: 32px
}



.icon--sm {
  fill: rgb(211, 211, 211);
  height: 30px;
  width: 30px;
}
#first-footer {
  background: #232323;
  padding: 30px 0 0 0;
  font-size: 12px;
  color: #999;
}
#first-footer a {
  color: #ccc;
}
#first-footer a:hover {
  color: #fff;
}
#first-footer h3.widget-title {
  font-size: 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: #ccc;
  margin: 0 0 20px;
}
#second-footer {
  background: #191919;
  padding: 15px 0;
  color: #777;
  font-size: 12px;
}
#second-footer a {
  color: #aaa;
}
#second-footer a:hover {
  color: #fff;
}
#second-footer p {
  margin: 0;
}
.follow-me-icons {
  font-size: 30px;
}
.follow-me-icons i {
  float: left;
  margin: 0 10px 0 0;
}
.footer-upper {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer-section{
  padding: 0 20px;
  max-width: 250px;
}
.under-footer{
  display: flex;
  justify-content: center;
  gap: 50px;
}



