*{
  margin: 0;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
}
:root {
  --main-text-color: rgb(58, 58, 58);
  --secondary-text-color: rgb(92, 92, 92);
  --hover-text-color: rgb(165, 52, 52);
}

.bacground-header{
  background-image: url(../asets/background.jpg);
  height: 55vh;
  background-position: 0 -320px;
  filter: grayscale(1) opacity(.2);
}
.profile-header{
  padding-top: 20px;
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.profile-header img{
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.1);
  border-radius: 150px;
  width: 150px;
  filter: grayscale(0) opacity(1);
}
.profile-header h2 {
  color: var(--main-text-color);
  letter-spacing: 3px;
  padding-top: 20px;
  font-size: 50px;
}
.profile-header p{
  font-size: 20px;
  font-weight: 100;
}
nav{
  text-align: center;
  padding: 1em;
  border: 1px solid rgba(92, 92, 92,.4);
  border-left: 0;
  border-right: 0;

}
nav h2{
  padding-bottom: 20px;
}

.navigation{
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10%;
}
.navigation a{
  font-weight: 100;
  font-size: 1em;
  text-decoration: none;
  color: var(--main-text-color);
  transition: 500ms;
}
.navigation a:hover{
  letter-spacing: 5px;
  color: var(--hover-text-color);
}
main {
  margin: auto;
  max-width: 65em;
}
.self-description{
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 100;
  padding-top: 60px;
  text-align: center;
  color: var(--secondary-text-color);
}
.self-social{
  gap: 50px;
  transform: scale(0.3);
  display: flex;
  justify-content: center;
}
.another {
  height: 100vh;
}





