.rating-buttons button.active {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.rating-filter {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  padding-bottom: 50px;
}

.rating-filter h2 {
  margin-bottom: 20px;
  font-size: 1em;
  color: #333;
}

.rating-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.rating-buttons button {
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.rating-buttons button:hover {
  background-color: #333;
  color: #fff;
}
.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.testimonial-card {
  
  max-width: 25%;
  min-width: 25%;
  padding: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
.testimonial-card__image {
  overflow: hidden;
  width: 90px;
  height: 90px;
  border-radius: 75px;
  margin: auto;
  box-sizing: border-box;

}
.testimonial-card__image img {
  width: 100%;
}
.testimonial-card__ratings {
  padding-top: 30px;
  padding-bottom: 10px;
}
.testimonial-card__description {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 6;
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}
.testimonial-card__customer-name {
  padding-top: 20px;
}